h1 {
    text-align: center;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;
}

.marker {
    height: 25px;     /* Altura do elemento */
    width: 200px;     /* Largura do elemento */
    margin: auto;
    margin: 10px auto;    /* 10px acima e abaixo / auto, centraliza o conteúdo */
}
  
.red {
    background: linear-gradient(90deg, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255));
    /* Cria um gradiente linear que segue uma direção de 90 graus (horizontal).
     - 90deg: define a direção do gradiente (da esquerda para a direita).
     - Primeiro argumento: rgb(255, 0, 0) -> vermelho puro.
     - Segundo argumento: rgb(0, 255, 0) -> verde puro.
     - Terceiro argumento: rgb(0, 0, 255) -> azul puro.
     
     O gradiente fará uma transição suave do vermelho para o verde e, em seguida, para o azul. */
}

.green {
    background-color: #007F00
    /* Define o fundo utilizando a notação hexadecimal:
     - '00' para vermelho (0% de intensidade),
     - '7F' para verde (aproximadamente 50% de intensidade),
     - '00' para azul (0% de intensidade).
     Resultado: um verde menos intenso (#007F00) equivalente a rgb(0, 127, 0).*/
}

.blue {
    background-color:hsl(240, 100%, 50%);
   /* Define a cor de fundo utilizando o modelo HSL:
     - Hue: 240 graus (posição do azul na roda de cores)
     - Saturation: 100% (cor em sua forma mais pura, sem adição de cinza)
     - Lightness: 50% (luminosidade neutra, nem muito clara nem muito escura)
     Resultado: Azul puro.*/ 